<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Green Light Go - {{TITLE}}</title>
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Quicksand' rel='stylesheet' type='text/css' />
		
		<link href="greenlightgo.css" rel="stylesheet" type="text/css" />
		{{ADDITIONAL_CSS}}
		{{ADDITIONAL_JAVASCRIPT}}
	</head>
	
	<body>
		<div id="page">
			<div id="header">
				<a href="/" title="Green Light Go Home Page">
					<div id="title" class="title">
						<h1>Green <span class="light">Light</span> Go</h1>
						<h2>Removing barriers, enabling people</h2>
					</div>
				</a>
				<div id="nav">
					<a href="/about/" title="About Green Light Go">About</a>
					<a href="/projects/" title="Our Offerings">Projects &amp; Products</a>
					<a href="/education/" title="Things we like to teach">Education</a>
					<a href="/contact/" title="Get in touch with Green Light Go">Contact</a>
				</div>
			</div>
			
			<div id="content">
				<div class="contentFrame">
					{{PAGE_CONTENT}}
				</div>
			</div>
				
			<div id="footer">
				<a class="left" href="tel:+13167124391" title="Call Green Light Go">316.712.4391</a>
				<a href="mailto:mail@greenlightgo.org" title="Send an email to Green Light Go">
					<img src="http://greenlightgo.org/images/badge.png" width="98" height="18" alt="Green Light Go Badge" />
				</a>
				<a class="right" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Creative Commons License">
					<img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
				</a>
			</div>
		</div>
	</body>
</html>
