* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #aaa;
}

#page {
	max-width: 900px;
	margin: auto;
}

#header {
	background-color: #3c87b8;
	padding: 2em;
}

.nav {
	float: right;
}

#content {
	background-color: #fff;
	padding: 2em;
}

#footer {
	background-color: #000;
	color: #fff;
	
	border-radius: 0 0 1em 1em;
	
	font-size: 90%;
	padding: 0.5em;
	margin-bottom: 2em;
	
	text-align: center;
}

p {
	margin-top: 1em;
}
