<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>My Website - {{TITLE}}</title>
		
		<link href="main.css" rel="stylesheet" type="text/css" />
		{{ADDITIONAL_CSS}}
		{{ADDITIONAL_JAVASCRIPT}}
	</head>
	
	<body>
		<div id="page">
			<div id="header">
				<h1>{{TITLE}} Page Header</h1>
				<div class="nav">
					[ <a href="example1.php">Example 1</a> | <a href="example2.php">Example 2</a> ]
				</div>
			</div>
			
			<div id="content">
				{{PAGE_CONTENT}}
			</div>
			
			<div id="footer">
				Page Footer - &copy; Year, Company
			</div>
		</div>
	</body>
</html>
